<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <p>Correo electrónico</p>
        <ion-buttons slot="end">
            <ion-button color="primary">
                Guardar
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <div class="items-cuenta">
        <p>Actual</p>
        <p class="text-gray">sk8muski@gmail.com</p>
    </div>
    <div class="items-cuenta">
        <p>Nuevo</p>
        <ion-input></ion-input>
    </div>
</ion-content>