<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/cuenta"></ion-back-button>
        </ion-buttons>
        <ion-title>Correo electrónico</ion-title>
        <ion-buttons slot="end">
            <ion-button color="primary">
                Guardar
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
        <ion-item lines="full">
            <ion-input value="sk8muski@gmail.com"></ion-input>
        </ion-item>

</ion-content>