<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="salirSinArgumentos()">
      <ion-icon name="close-outline" slot="icon-only"></ion-icon>
    </ion-buttons>
    <ion-title>Editar Publicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list lines="full" class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Titulo</ion-label>
        <ion-input value="Mansion de 3 pisos de cristal"></ion-input>
      </ion-item>
    </ion-list>

    <ion-textarea class="ion-padding-horizontal" autoGrow value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio sint,deleniti harum aspernatur tempore quos vitae similique alias doloremque inventore, ullam assumenda nesciunt libero cupiditate voluptatum impedit sequi dolor?"></ion-textarea>
      <div class="edit-img" (click)="editImg()">
        <ion-icon class="edit" name="create-outline"></ion-icon>
        <ion-img 
        [src]="image">
      </ion-img>
      </div>
    
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end"  (click)="salirSinArgumentos()">
      <ion-button>
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>