<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/menu"></ion-back-button>
        </ion-buttons>
        <ion-title>Cuenta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item lines="full" routerLink="/cuenta-correo"> 
            <ion-label>
                <h3>Correo electrónico</h3>
                <p>sk8muski@gmail.com</p>
            </ion-label>
        </ion-item>
        <ion-item lines="full" routerLink="/cuenta-contrasena">
            <ion-label>
                <h3>Contraseña</h3>
                <p>Edita tu contraseña</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>