<ion-content class="ion-padding">
    <div class="center ion-padding">
        <div class="img-center ion-margin-bottom">
            <img src="../../assets/logo.png" alt="Logo">
        </div>

        <form [formGroup]="loginForm" (submit)="onLogin()">
            <div class="ion-margin-bottom">
                <ion-input required formControlName="correo" class="ion-padding-start" type="email" placeholder="Correo Electronico"></ion-input>
                <div *ngFor="let error of errorMessages.correo">
                    <ng-container *ngIf="correo.hasError(error.type) && (correo.dirty || correo.touched)">
                        <small class="error-message ion-padding-start">{{error.message}}</small>
                    </ng-container>
                </div>
            </div>
            <div class="ion-margin-bottom">
                <ion-input required formControlName="password" class="ion-padding-start" type="password" placeholder="Contraseña"></ion-input>
                <div *ngFor="let error of errorMessages.password">
                    <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                        <small class="error-message ion-padding-start">{{error.message}}</small>
                    </ng-container>
                </div>
            </div>
            <ion-button [disabled]="!loginForm.valid" type="submit" expand="full" class="ion-margin-bottom">Iniciar Sesión</ion-button>
        </form>
    </div>
</ion-content>

<ion-footer class="ion-no-border ion-padding bg-white">
    <p class="ion-text-center">¿No tienes una cuenta?</p>
    <p class="ion-text-center"><a routerLink="/register">Crea una cuenta</a></p>
</ion-footer>