<ion-toolbar class="ion-padding-top" mode="ios">
    <ion-searchbar placeholder="Buscar" (ionChange)="onSearchChange($event)"></ion-searchbar>
</ion-toolbar>
<ion-content [fullscreen]="true">
    <ion-list *ngIf="show">
        <ion-item lines="none" *ngFor="let i of [1,1,1,1,1,1]">
            <ion-skeleton-text animated slot="start" style="width: 50px; height: 50px;"></ion-skeleton-text>
            <ion-label>
                <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="!show">
        <ion-item class="messages" lines="none" routerLink="/chats-uno" *ngFor="let i of [1,1,1,1,1,1,1,1,1,1,1,1,1]">
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>
                <p class="name">Alejandro Salazar</p>
                <p>Hola! te interesa ganar dinero con 2 sencillas aplicaciones</p>
            </ion-label>
            <ion-note mode="md" slot="end">15/05/20</ion-note>
        </ion-item>
    </ion-list>
</ion-content>