<ion-header class="ion-padding-vertical ion-no-border" mode="ios">
    <ion-toolbar>
    <ion-title>
        <ion-icon name="information-circle"></ion-icon>
    </ion-title>
</ion-toolbar>
</ion-header>
<ion-content class="pop ion-padding-horizontal ion-padding-bottom">
    <h2 class="ion-text-center">Reportar usuario</h2>
    <ion-label class="ion-text-center">
        <p>¿Esta persona te está molestando?</p>
    </ion-label>
    <ion-input class="ion-margin-vertical" placeholder="Escribe tu inconformidad"></ion-input>
    <ion-button mode="ios" expand="block">Reportar usuario</ion-button>
</ion-content>