.boton{
    padding: 5px;
    margin-right: 5px;
}

.caja{
    margin-top: -15px;
    margin-left:-15px;
    margin-right:-15px;
}

.usuario {
    margin-left: 10px;
}

.Texto1 {
    margin-top: 5px;
    font-weight: bold;
    padding-left: 8px;
    color: black;
}

.Texto2 {
    margin-left: 8px;
}

.descripcion {
    padding: 12px;
}