<ion-menu side="start" menuId="primerMenu" contentId="principal">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-img class="sk-image"></ion-img>
            <ion-title class="sk-title">Menú</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>
                <ion-icon name="home" slot="start"></ion-icon>
                <ion-label>Inicio</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="card" slot="start"></ion-icon>
                <ion-label>Administrar almacén</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="leaf" slot="start"></ion-icon>
                <ion-label>Administrar cosechas</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="leaf" slot="start"></ion-icon>
                <ion-label>Administrar cultivos</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>Administrar usuarios</ion-label>
            </ion-item>
            <hr>
            <ion-item>
                <ion-icon name="alarm" slot="start"></ion-icon>
                <ion-label>Alarmas</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="calendar" slot="start"></ion-icon>
                <ion-label>Calendario actividades</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="cash" slot="start"></ion-icon>
                <ion-label>Costos</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="flask" slot="start"></ion-icon>
                <ion-label>Fertilizaciones</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="eyedrop" slot="start"></ion-icon>
                <ion-label>Fertilizantes</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="map" slot="start"></ion-icon>
                <ion-label>Mapa</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="bug" slot="start"></ion-icon>
                <ion-label>Historial de plagas</ion-label>
            </ion-item>

            <ion-item>

                <ion-icon name="warning" slot="start"></ion-icon>
                <ion-label>Insecticidas</ion-label>
            </ion-item>
            <hr>
            <ion-item>
                <ion-icon name="exit" slot="start"></ion-icon>
                <ion-label>Cerrar sesión</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>