<ion-menu side="start" menuId="primerMenu" contentId="principal">
    <ion-header>
        <ion-toolbar >
            
            <ion-title class="sk-title"><img src="../../assets/logo.png" alt="Logo" class="hbuldlogo"> HBUILD</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>
                <ion-icon name="notifications-outline" slot="start"></ion-icon>
                
                <ion-label>Notificaciones</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="person-outline" slot="start"></ion-icon>
                <ion-label>Cuenta</ion-label>
            </ion-item>
           
          
            <ion-item>
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-label>Privacidad</ion-label>
            </ion-item>

            <ion-item (click)="Logout()">

                <ion-icon name="log-out-outline" slot="start"></ion-icon>
                <ion-label>Cerrar sesion</ion-label>
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-menu>