// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

// ion-content ion-toolbar {
//   --background: translucent;
// }
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p{
    text-align: center;
    color: #8b8b8b8b;
  }
}
.bg-white{
  background-color: white;
}
 
.btn-secondary{
  --background: white;
  --color: var(--ion-color-primary);
  border: 2px solid var(--ion-color-primary);
}