<ion-content class="ion-padding">
    <div class="center">
        <img src="../../assets/logo.png" alt="">
        <p>Descubre nuevas tendencias en construcciones</p>
    </div>
    <div class="header">
        <ion-buttons slot="start">
            <ion-menu-button menu="primerMenu"></ion-menu-button>
            <ion-title style="font-weight: 500;">SASPRE</ion-title>
        </ion-buttons>
    </div>
</ion-content>

<ion-footer class="ion-no-border ion-padding bg-white">
    <ion-button expand="full" routerLink="/register" class="ion-margin-bottom">Registrarse</ion-button>
    <ion-button expand="full" routerLink="/login" class="btn-secondary">Iniciar Sesión</ion-button>
</ion-footer>